.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 180px;
  width: 450px;
  color: whitesmoke;
  border-radius: 10px;
  background-image: url('../../assets/expBg/4.jpg');
  background-repeat :no-repeat;
  background-size: cover;
  transition: transform 0.1s ease-in;
}

.card1 span {
  font-size: 0.8rem;
  color: lightskyblue;
  animation: color 1s infinite ease-in-out forwards;
}

.card1:hover {
  transform: scale(1.05, 1.05);
}

@keyframes color {
  100% {
    color: orangered;
  }
}

@media (max-width: 1070px){
  .card1{
    width: 40vw;
    height: 170px;
  }
}

@media (max-width: 769px) {
  .card1{
    width: 60vw;
  }
}

@media (max-width: 426px){
  .card1 > h1{
    font-size: 1.5rem;
  }
  .card1 > h2{
    font-size: 1rem;
  }
}