.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-container img {
  width: 30vw;
}

.heading {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: white;
}
.content p {
  color: rgb(208, 212, 251);
  font-size: 2rem;

  font-style: italic;
}
.btn {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  margin: 1rem 0;
  border: transparent;
  background: rgb(245, 150, 26);
  color: white;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(255, 167, 52);
}
.arrow {
  margin: auto;
}

@media (max-width: 757px){
  .content .heading{
    font-size: 3rem;
  }
}

@media (max-width: 413px){
  .img-container{
    align-self: flex-start;
  }
}